div#blok1_Hrechka {background-color: 00ff00;width:607px;} 
                       div#blok2_Hrechka {background-color: 00ff00;width:607px;} 
                       div#blok2_Hrechka:hover {background-color: ffd700;font-size:21mm;}
                       div#blok3_Hrechka {background-color: 00ff00;width:607px;} 
                       div#blok3_Hrechka:hover {background-color: FFFF00;font-size:21mm;}
                       div#blok1_Hrechka:hover {background-color: FF0000;font-size:21mm;} 